aniso8601==8.1.1
appnope==0.1.0
astor==0.8.1
astroid==2.4.2
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.1.5
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
configparser==5.0.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
example==0.1.0
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
gast==0.2.2
geojson==2.5.0
gmaps==0.9.0
google-pasta==0.2.0
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
natsort==7.1.1
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
numexpr==2.7.2
opt-einsum==3.1.0
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
phasepack==1.5
pickleshare==0.7.5
Pillow==8.1.0
plotly==4.14.3
PREDICT==3.1.13
prometheus-client==0.8.0
protobuf==3.14.0
ptyprocess==0.6.0
pydicom==2.1.2
Pygments==2.6.1
pykwalify==1.8.0
pylint==2.6.0
pymongo==3.11.1
pyparsing==2.4.7
pyradiomics==3.0.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.0.0
PyYAML==5.3.1
pyzmq==19.0.1
QtPy==1.9.0
requests==2.25.0
retrying==1.3.3
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-image==0.16.2
scikit-learn==0.24.1
selenium==3.141.0
Send2Trash==1.5.0
SimpleITK==2.0.2
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
splinter==0.14.0
SQLAlchemy==1.3.20
statsmodels==0.12.2
tables==3.6.1
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.26.2
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
